<div class="banner-mask">
  <picture>
    <source
      srcset="assets/images/banner/m-banner_about-img.jpg"
      media="(max-width: 992px)"
    />
    <source
      srcset="assets/images/banner/d-banner_aboutRathYatra.jpg"
      media="(min-width: 992px)"
    />
    <source srcset="assets/images/banner/d-banner_aboutRathYatra.jpg" />
    <img
      src="assets/images/banner/d-banner_aboutRathYatra.jpg"
      alt="Ratha Yatra Image"
    />
  </picture>
</div>
<div class="container banner-curve footer-gap">
  <h2 i18n="@@about-about-title">
    About Ratha Yatra (<span>Brief History</span>)
  </h2>
  <p i18n="@@about-about-firstPara">
    As per description in the Skanda Purana , among the twelve Yatras of Shree
    Jagannatha, Ratha Yatra or Shree Gundicha Yatra is considered the most
    famous one.
  </p>
  <p i18n="@@about-about-secondPara">
    According to ‘Bamadev Samhita’ those who can witness the four deities on the
    Simhasana (the sacred seat) of Gundicha Temple for a week, they along with
    their ancestors would get a place in the heavenly abode i.e. Baikuntha for
    all time to come. As per this text those who can hear about this great
    festival they also get the desired result. Besides this, those who study the
    rituals of the divine festival and make others aware of the same they can
    also get a place in his holy abode.
  </p>
  <p i18n="@@about-about-thirdPara">
    The Ratha Yatra of the ‘four deities’ takes place on the 2nd day of the
    bright fortnight of Ashadha for the overall well-being of the mankind. In
    the Skanda purana it has been described that no festival of Mahaprabhu is
    more important than that of the Shree Gundicha Yatra. Because, Shree Hari
    the supreme Lord of the cosmos rides & his chariot in a very delightful mood
    to the Gundicha Temple to fulfill His pledged command.
  </p>
  <p i18n="@@about-about-fourthPara">
    As the chariot is a symbol of “Sandhini Sakti” mere touch of the chariot
    would confer compassion of Lord Shree Jagannatha on the devotees. The famous
    verse in this context is as follows:
  </p>
  <p>
    <strong i18n="@@about-about-fifthPara"
      >“Ratha tu Vamanam drustva purnarjanma na vidyate.”</strong
    >
  </p>

  <div class="container py-3">
    <div class="row">
      <div class="col">
        <button
          class="cmn-btn dark-btn mx-auto px-5"
          routerLink="/about/gallery"
          i18n="@@about-about-galleryButton"
        >
          Chariot Making
        </button>
      </div>
    </div>
  </div>
</div>
