<!-- navbar section start -->
<div *ngIf="isSubmitting" class="loading">
  <mat-spinner color="accent"></mat-spinner>
</div>
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home"
      ><img src="assets/images/logo-inner.png" alt=""
    /></a>
  </div>
</nav>
<!-- // navbar section end -->
<div class="banner-mask">
  <picture>
    <source
      srcset="assets/images/banner/m-banner_sign-in.jpg"
      media="(max-width: 992px)"
    />
    <source
      srcset="assets/images/banner/d-banner_sign-in.jpg"
      media="(min-width: 992px)"
    />
    <source srcset="assets/images/banner/d-banner_sign-in.jpg" />
    <img
      src="assets/images/banner/d-banner_sign-in.jpg"
      alt="Ratha Yatra Image"
    />
  </picture>
  <!-- <img src="assets/images/lostfound-banner.jpg" alt="" /> -->
</div>
<div class="container banner-curve">
  <!-- <span class="header-icon"><img src="assets/images/about-jaganath-icon.png" alt=""></span> -->
  <h2 i18n>Reset Password</h2>
  <h3
    i18n="@@auth-signup-errorMessage"
    class="text-danger text-center"
    *ngIf="errors"
  >
    *Something Went wrong
  </h3>
  <form [formGroup]="authForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label i18n="@@auth-auth-oldPwd">Old Password</label>
      <span class="mandatory-mark">*</span>
      <div class="input-group mb-3">
        <input
          i18n-placeholder="@@auth-auth-oldpwdPlaceHolder"
          [type]="oldpasswordType"
          class="form-control"
          formControlName="oldPassword"
          placeholder="Old Password"
        />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2"
            ><em
              *ngIf="oldpasswordType == 'password'"
              (click)="oldpasswordType = 'text'"
              class="bi bi-eye-fill"
            ></em>
            <em
              *ngIf="oldpasswordType == 'text'"
              (click)="oldpasswordType = 'password'"
              class="bi bi-eye-slash-fill"
            ></em
          ></span>
        </div>
      </div>
      <div *ngIf="f['oldPassword'].errors" class="invalid-feedback">
        <div
          *ngIf="
            f['oldPassword'].errors['minlength'] ||
            f['oldPassword'].errors['maxlength']
          "
          i18n="@@auth-signup-pwdErr"
        >
          *Should be more than 6 and less than 30 character
        </div>
      </div>
    </div>
    <div class="form-group">
      <label i18n="@@auth-auth-pwd">Password</label>
      <span class="mandatory-mark">*</span>
      <div class="input-group mb-3">
        <input
          i18n-placeholder="@@auth-auth-pwdPlaceHolder"
          [type]="passwordType"
          class="form-control"
          formControlName="password"
          placeholder="Password"
        />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2"
            ><em
              *ngIf="passwordType == 'password'"
              (click)="passwordType = 'text'"
              class="bi bi-eye-fill"
            ></em>
            <em
              *ngIf="passwordType == 'text'"
              (click)="passwordType = 'password'"
              class="bi bi-eye-slash-fill"
            ></em>
          </span>
        </div>
      </div>
      <div *ngIf="f['password'].errors" class="invalid-feedback">
        <div
          *ngIf="
            f['password'].errors['minlength'] ||
            f['password'].errors['maxlength']
          "
          i18n="@@auth-signup-pwdErr"
        >
          *Should be more than 6 and less than 30 character
        </div>
      </div>
    </div>
    <div class="form-group">
      <label i18n="@@auth-signup-cnfPwd">Confirm Password</label>
      <span class="mandatory-mark">*</span>
      <div class="input-group mb-3">
        <input
          i18n-placeholder="@@auth-auth-confirmPwdPlaceHolder"
          [type]="confirmpasswordType"
          class="form-control"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
        />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2"
            ><em
              *ngIf="confirmpasswordType == 'password'"
              (click)="confirmpasswordType = 'text'"
              class="bi bi-eye-fill"
            ></em>
            <em
              *ngIf="confirmpasswordType == 'text'"
              (click)="confirmpasswordType = 'password'"
              class="bi bi-eye-slash-fill"
            ></em
          ></span>
        </div>
      </div>
      <div *ngIf="f['confirmPassword'].errors" class="invalid-feedback">
        <div
          *ngIf="
            f['confirmPassword'].errors['minlength'] ||
            f['confirmPassword'].errors['maxlength']
          "
          i18n="@@auth-signup-pwdErr"
        >
          *Should be more than 6 and less than 30 character
        </div>
        <div
          *ngIf="f['confirmPassword'].errors['matching']"
          i18n="@@auth-signup-pwdmatchErr"
        >
          *Password didn't match
        </div>
      </div>
    </div>
    <!-- <div class="form-group">
          <ngx-recaptcha2
            #captchaElem
            siteKey="6LfKNi0cAAAAACeYwFRY9_d_qjGhpiwYUo5gNW5-"
            [size]="size"
            [hl]="lang"
            [theme]="theme"
            [type]="type"
            formControlName="recaptcha"
          >
          </ngx-recaptcha2>
        </div> -->
    <div class="text-center">
      <button
        i18n="@@auth-auth-loginButton"
        class="btn cmn-btn btn-lg btn-dark mx-auto"
        [disabled]="!authForm.valid || isSubmitting"
        type="submit"
      >
        Enter
      </button>
    </div>
  </form>
</div>
