<!-- navbar section start -->

<!-- // navbar section end -->

<!-- about section -->
<div class="banner-mask">
  <picture>
    <source srcset="assets/images/disclaimer.png" media="(max-width: 992px)" />
    <source srcset="assets/images/disclaimer.png" media="(min-width: 992px)" />
    <source srcset="assets/images/disclaimer.png" />
    <img src="assets/images/disclaimer.png" alt="Ratha Yatra Image" />
  </picture>
  <!-- <img src="assets/images/disclaimer.png" alt="" /> -->
</div>
<div class="container banner-curve footer-gap">
  <h2 i18n="@@footer-disclaimer-title">Disclaimer</h2>
  <p i18n="@@footer-disclaimer-firstPara">
    The information contained in this website is for general information
    purposes only. The information is provided by [Website Name], a property of
    [Business Name]. While we endeavour to keep the information up to date and
    correct, we make no representations or warranties of any kind, express or
    implied, about the completeness, accuracy, reliability, suitability or
    availability with respect to the website or the information, products,
    services, or related graphics contained on the website for any purpose. Any
    reliance you place on such information is therefore strictly at your own
    risk.
  </p>
  <p i18n="@@footer-disclaimer-secondPara">
    In no event will we be liable for any loss or damage including without
    limitation, indirect or consequential loss or damage, or any loss or damage
    whatsoever arising from loss of data or profits arising out of, or in
    connection with, the use of this website. Through this website you are able
    to link to other websites which are not under the control of [Business
    Name]. We have no control over the nature, content and availability of those
    sites. The inclusion of any links does not necessarily imply a
    recommendation or endorse the views expressed within them. Every effort is
    made to keep the website up and running smoothly. However, [Business Name]
    takes no responsibility for, and will not be liable for, the website being
    temporarily unavailable due to technical issues beyond our control.
  </p>
</div>
<!-- // about section end -->
