.form-group {
  margin-bottom: 12px;
}

/* input[type="file"]::file-selector-button {
  background: black;
  color: white;
} */
@media only screen and (min-width: 768px) {
  .img-fluid {
    width: 90%;
  }

  .banner-mask {
    text-align: center;
  }
}

.modal-header,
.modal-footer {
  border: none;
}

.success-content {
  background: #ad0004;
}

.success-image {
  width: 60px;
  margin-bottom: 10px;
}

.modal-button {
  display: none;
}

/* .preview-img {
  display: inline;
  margin: 10px 0px 0px 30px;
  max-width: 20vw;
} */

.btn-dark {
  background: black;
  color: white;
}

.invalid-feedback {
  display: block;
  font-weight: bold;
}

.table-timing tbody,
.table-timing td,
.table-timing tfoot,
.table-timing th,
.table-timing thead,
.table-timing tr {
  border: none;
}

.table-timing tr {
  border: 1px solid #ced4da;
}

.table-wrapper {
  max-height: 200px;
  overflow: auto;
  border: 1px solid #ced4da;
  border-radius: 10px;
}
.mat-mdc-paginator-range-label {
  margin: 0 !important;
}
.preview-img {
  display: inline;
  /* margin: 10px 0px 0px 30px; */
  max-width: 110px;
  height: auto;
}

.uploaded-image-hldr {
  width: 110px;
  height: 75px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.uploaded-image-hldr .close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0px;
  top: -2px;
}

.uploaded-image-hldr .close-btn img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
