<div class="banner-mask">
  <picture>
    <source
      srcset="assets/images/banner/m-banner_grievance.jpg"
      media="(max-width: 992px)"
    />
    <source
      srcset="assets/images/banner/d-banner_grievance.jpg"
      media="(min-width: 992px)"
    />
    <source srcset="assets/images/banner/d-banner_grievance.jpg" />
    <img
      src="assets/images/banner/d-banner_grievance.jpg"
      alt="Ratha Yatra Image"
    />
  </picture>
</div>
<div class="container banner-curve footer-gap">
  <h2 i18n="@@miscellaneous-divyangaDarshan-title">Divyanga Darshan</h2>
  <p i18n="@@miscellaneous-divyangaDarshan-firstPara">
    The physically challenged people are allowed to go on wheelchairs upto
    Singha Dwara (Lion’s Gate) in front of the temple.
  </p>
  <p i18n="@@miscellaneous-divyangaDarshan-secondPara">
    In a partial relief, physically challenged and elderly people can now make
    ‘parikrama’ (going around) of Jagannath temple here on wheelchair, while
    their demand for the facility to have darshan of the deities inside remains
    unanswered.
  </p>

  <div class="container py-3">
    <div class="row">
      <div class="col">
        <button
          class="cmn-btn brown-btn mx-auto px-5"
          routerLink="/etc/wheel-chair"
        >
          <span i18n="@@miscellaneous-divyangaDarshan-facilities">
            MORE FACILITIES</span
          >

          <img src="assets/images/trekking.png" alt="Icon About RathYatra" />
        </button>
      </div>
    </div>
  </div>
</div>
