<div *ngIf="loading" class="loading">
  <mat-spinner color="accent"></mat-spinner>
</div>
<div *ngIf="items; else not_found" class="container">
  <p class="number-title">
    <!-- <span><img src="assets/images/icon-toilet.png" alt="" /></span> -->
    <span>
      <span i18n="@@totalCount"> Total</span>
      <span class="brown-txt"> {{ dataCount }} </span>
      <span i18n="@@facilities-toilets-length">Washroom/Toilet Found</span>
    </span>
  </p>

  <div class="container">
    <div class="row">
      <!-- repeat this section -->
      <div *ngFor="let item of items" class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="px-2 item-holder">
          <div class="row">
            <div class="col-3 pr-0">
              <div class="img-hldr">
                <a
                  [href]="
                    'https://maps.google.com/maps?z=12&t=m&q=loc:' +
                    item?.latitude +
                    '+' +
                    item?.longitude
                  "
                  target="_blank"
                >
                  <img
                    [src]="
                      'assets/images/facilities/washroom/' +
                      item.washroomId +
                      '.jpg'
                    "
                    alt=""
                    loading="lazy"
                  />
                </a>
              </div>
            </div>
            <div class="col-6">
              <div class="desc-hldr">
                <h3>{{ item.name }}</h3>
                <p>{{ item.location }}</p>

                <div class="row">
                  <div class="col-12">
                    <div>
                      <img src="assets/images/icon-clock.png" alt="" />
                      <strong class="oc-icon">
                        <span i18n="@@open"> Open:</span>
                        {{ item.openingTime | odia }} - <br /><span
                          i18n="@@close"
                          >Close:</span
                        >
                        {{ item.closingTime | odia }}
                      </strong>
                    </div>
                    <!-- </div>
                  <div class="col-6 px-0"> -->
                    <img src="assets/images/toilet-ladies-gents.png" alt="" />
                    <!-- <b>{{ item.message }}</b> -->
                  </div>
                  <!-- </div>
                <div class="row"> -->
                  <div *ngFor="let facility of item.facilities" class="col-12">
                    <img
                      alt=""
                      *ngIf="facility.facilityLogoId == 1"
                      src="assets/images/icon-beach-bag.png"
                    />
                    <img
                      alt=""
                      *ngIf="facility.facilityLogoId == 2"
                      src="assets/images/icon-shower.png"
                    />

                    <strong>
                      {{ facility.facilityName }}
                    </strong>
                  </div>
                  <!-- <div class="col-6 px-0">
                    <img src="assets/images/toilet-ladies-gents.png" /><b>
                      {{ item.message }}</b
                    >
                  </div> -->
                </div>
              </div>
            </div>

            <!-- button section -->
            <div class="col-3 pl-0">
              <div class="row">
                <div class="col-12 mb-2">
                  <button
                    *ngIf="item.paid"
                    i18n="@@facilities-toilets-Paid"
                    type="button"
                    name=""
                    id=""
                    class="btn cmn-btn brown-btn"
                  >
                    Paid
                  </button>
                  <button
                    *ngIf="!item.paid"
                    i18n="@@facilities-toilets-free"
                    type="button"
                    name=""
                    id=""
                    class="btn cmn-btn green-btn"
                  >
                    Free
                  </button>
                </div>
                <div class="col-12 mb-2">
                  <a
                    i18n="@@facilities-toilets-map"
                    [href]="
                      'https://maps.google.com/maps?z=12&t=m&q=loc:' +
                      item?.latitude +
                      '+' +
                      item?.longitude
                    "
                    target="_blank"
                    type="button"
                    name=""
                    id=""
                    class="btn cmn-btn dark-btn"
                  >
                    Map
                  </a>
                </div>
              </div>
            </div>
            <!-- // button section -->
          </div>
        </div>
      </div>

      <!-- // repeat this section -->
    </div>
  </div>
</div>
<ng-container *ngIf="items?.length">
  <app-paginator-goto
    [length]="dataCount"
    [pageIndex]="0"
    [pageSize]="20"
    (page)="PageChange($event)"
  ></app-paginator-goto>
</ng-container>
<ng-template #not_found>
  <div class="container no-data-found">
    <p i18n="@@no-data" class="text-center">Sorry No data found ....</p>
  </div>
</ng-template>
