<footer id="footer" class="footer mt-auto cmn-footer">
  <div class="container top-sec py-2">
    <ul class="d-flex _justify-content-between px-0 my-0 f-link">
      <li><a i18n routerLink="/footer/disclaimer">Disclaimer</a></li>
      <li><a i18n routerLink="/footer/contacts">Important Contacts</a></li>
    </ul>
  </div>

  <!-- <div class="power-sec">
    <div class="container d-flex justify-content-between">
      <div>
        <img src="assets/images/odisha-govt-logo.png" alt="" class="mr-2" />
        <span>Government Of Odisha</span>
      </div>
      <div>
        <span class="mr-2 pwc-txt">Powered By</span>
        <img src="assets/images/pwc-logo-white.png" alt="" class="pwc-logo" />
      </div>
    </div>
  </div> -->
</footer>
