.cmn-footer {
  width: 100%;
  background-color: #000;
}

.power-sec {
  background-color: #252525;
  /* height: 35px; */
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #c2c2c2;
}

.power-sec div {
  position: relative;
  font-size: 0.7rem;
}

.pwc-txt {
  display: block;
  left: -63px;
  position: relative;
}

.power-sec .pwc-logo {
  position: absolute;
  right: 0;
  top: -35px;
}

.f-link li {
  list-style: none;
  color: white;
  font-size: 0.7rem;
  margin: 0 5px;
}

@media (min-width: 992px) {
  .cmn-footer {
    position: fixed;
    top: auto;
    bottom: 0;
    z-index: 99;
  }
}

a {
  text-decoration: none;
  color: white;
}
