<!-- navbar section end -->

<!-- // navbar section end -->
<div *ngIf="loading" class="loading">
  <mat-spinner color="accent"></mat-spinner>
</div>
<!-- about section -->
<div *ngIf="items.length" class="banner-mask">
  <picture>
    <source
      srcset="assets/images/banner/m-banner_ritual-banner.jpg"
      media="(max-width: 992px)"
    />
    <source
      srcset="assets/images/banner/d-banner_specialDays.jpg"
      media="(min-width: 992px)"
    />
    <source srcset="assets/images/banner/d-banner_specialDays.jpg" />
    <img
      src="assets/images/banner/d-banner_specialDays.jpg"
      alt="Special Days"
    />
  </picture>
  <!-- <img src="assets/images/ritual-banner.jpg" alt="" /> -->
</div>
<div *ngIf="items.length; else not_found" class="container banner-curve">
  <!-- <span class="header-icon"><img src="assets/images/about-jaganath-icon.png" alt=""></span> -->
  <h2 i18n="@@about-specialDays-title">Ratha Yatra Special Days</h2>

  <div class="container">
    <div class="v-line">
      <div *ngFor="let item of items" class="ritual">
        <div
          class="r-time"
          [ngClass]="{ 'current-ritual': checkDate(item.date) }"
        >
          {{ item.ritualName | slice : 0 : 50 }}
          {{ item.date | date : "dd.MM.yy" | odia }}
        </div>
        <div class="img-hldr">
          <img
            [src]="'assets/images/rituals/' + item.dayWiseRitualId + '.jpg'"
            loading="lazy"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #not_found>
  <div class="container no-data-found">
    <p i18n="@@no-data" class="text-center">Sorry No data found ....</p>
  </div></ng-template
>
